body{
	background-image: url('/assets/images/dojo_home.png');
}
#ninja img{
    height: 300px;
    width: 200px;
}
#homeback{
	 background: rgba(255, 255, 255, 0.5);	
	 border-radius: 5px;
}
#leaderboard{
	/*background: rgba(255, 255, 255, 0.5);	*/
	background-color: white;
	position:fixed;
    right:0px;
    top:0px;

}
#groupback {
	background: white;	
	border-radius: 5px;
	height: 600px;
}
#stacks{
	background-color: white;
	height: 200px;
	border: 1px solid black;
	border-radius:20px;
}
#whitebackground{
	background-color: white;
	border-radius: 20px;
}

#stacks img{
	height: 150px;
	width: 150px;
}

#whitebackground{
	background-color: white;
}